<div class="header_block">
  <a href="/" class="company_logo_area">
    <img class="company_logo" src="/img/logo.png" />
    <span class="campany_name">Reigle</span>
  </a>
  <ul class="nav_area">
    <a href="/">
      <li class="nav_main">トップ</li>
    </a>
    <a href="/greetings">
      <li class="nav_main">ご挨拶</li>
    </a>
    <a href="/employee">
      <li class="nav_main">社員の声</li>
    </a>
    <a href="/news">
      <li class="nav_main">ニュース</li>
    </a>
    <!-- <a href="/service">
      <li class="nav_main">サービス</li>
    </a> -->
    <a href="/info">
      <li class="nav_main">会社情報</li>
    </a>
    <a href="/employment">
      <li class="nav_main">採用情報</li>
    </a>
    <a href="/contact">
      <li class="nav_main">お問合せ</li>
    </a>
  </ul>
</div>

<header class="header_sp">
  <!-- ヘッダーロゴ -->
  <!-- <div class="logo">ハンバーガーメニュー</div> -->
  <a href="/" class="company_logo_area">
    <img class="company_logo" src="/img/logo.png" />
    <span class="campany_name">Reigle</span>
  </a>

  <!-- ハンバーガーメニュー部分 -->
  <div class="nav">
    <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
    <input id="drawer_input" class="drawer_hidden" type="checkbox" />

    <!-- ハンバーガーアイコン -->
    <label for="drawer_input" class="drawer_open"><span></span></label>

    <!-- メニュー -->
    <nav class="nav_content">
      <ul class="nav_list">
        <a href="/">
          <li class="nav_main">トップ</li>
        </a>
        <a href="/greetings">
          <li class="nav_main">ご挨拶</li>
        </a>
        <a href="/employee">
          <li class="nav_main">社員の声</li>
        </a>
        <a href="/news">
          <li class="nav_main">ニュース</li>
        </a>
        <!-- <a href="/service">
          <li class="nav_main">サービス</li>
        </a> -->
        <a href="/info">
          <li class="nav_main">会社情報</li>
        </a>
        <a href="/employment">
          <li class="nav_main">採用情報</li>
        </a>
        <a href="/contact">
          <li class="nav_main">お問合せ</li>
        </a>
      </ul>
    </nav>
  </div>
</header>
